<ActionBar title="Szczegóły produktu"></ActionBar>

<StackLayout class="p-20">
    
    <Label *ngIf="loading" text="Ładowanie..." class="text-center text-lg"></Label>

    <StackLayout *ngIf="!loading">
        
        <Image [src]="product.thumbnail" height="180" stretch="aspectFill"></Image>

        <Label class="text-2xl font-bold mt-3" [text]="product.title"></Label>
        <Label class="text-base mt-1" [text]="product.description"></Label>

        <Label class="text-lg mt-3 font-semibold" [text]="'Cena: ' + product.price + ' USD'"></Label>

    </StackLayout>
</StackLayout>
